html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
    color: #ffffff;
    line-height: 1.7;}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/* Navbar */
.navbar {
    padding: 20px 0;
    border-bottom: 1px solid #1e293b;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #cbd5e1;
    text-decoration: none;
}

.navbar a:hover {
    color: #3b82f6;
}

/* Hero */
.hero {
    padding: 100px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile-img {
    width: 80%;
    max-width:300px;
    height: auto;
    border-radius: 50%;
    /* Make colors more vibrant */
    filter: contrast(110%) saturate(130%) brightness(105%);
    
    /* Clean white border */
    border: 4px solid #ffffff;

    /* Soft glow effect */
    box-shadow: 0 0 25px rgba(0, 255, 200, 0.4);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tagline {
    color: #94a3b8;
    margin: 10px 0 20px;
}

.social-links a {
    color: #e2e8f0;
    font-size: 24px;
    margin-right: 15px;
}

.social-links a:hover {
    color: #3b82f6;
}

/* Sections */
.section {
    padding: 80px 0;
}

.alt {
    background: #1e293b;
}

/* Projects */
.project-card {
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    background: #0f172a;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    border: 1px solid #1e293b;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width:100%;
    max-width: 250px;
    border-radius: 10px;
}

.project-info h3 {
    margin-bottom: 10px;
}
#skills {
    padding: 40px 20px;
}

#skills h2 {
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: square;
    padding-left: 20px;
}

#skills li {
    margin-bottom: 18px;
}

.btn-small {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 18px;
    background: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
@media (max-width: 768px) {

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .project-card {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
    }

}

footer {
    text-align: center;
    padding: 25px;
    border-top: 1px solid #1e293b;
    font-size: 14px;

}








